/* Google Fonts: poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Theme Colors (According to Figma Design)*/
:root {
    --color-bg: #24272b;
    --color-white: #e9e9e9;
    --color-orange: #f74d09;
    --color-hover: #000000;
}

/*Universal Selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML Smooth Scroll */
html{
    scroll-behavior: smooth;
}


body{
    background-color: #000000;
}

/* Header Section */
.header-area{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header{
    width: 80%;
    margin: 0 auto;
    padding: 1.25rem 0;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.header-logo .brand-name{    
    font-family: "montserrat", sans-serif;
    font-size: 2.125rem;
    font-weight: bold;
}

.header-menu{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu ol{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.header-menu ol li{
    list-style: none;
}

.header-menu ol li a{
    position: relative;
    color: #001616;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu ol li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #094B72;
    opacity: 0;
    transition: 0.3s;
} 


.header-menu ol li a::after{
    bottom: 0;
    left: 0;
}

.header-menu ol li a:hover::after {
    width: 100%;
    opacity: 1;
    transition: 0.3s;
}

.user-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.feather{
    width: 1.6rem;
    height: 1.6rem;
}

.feather:hover{
    color: #dba902;
}

/* Hero Section */

/* Hero Section */
.hero-area{
    background-color: #F9F8F9;
}

.hero{ 
    width: 100%;    
    margin: 0 auto;   
    height: 80vh;
    position: relative;
    background: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.hero-content{
    position: absolute;
    background-color: #fff3e3;
    border-radius: 1rem;
    width: 40%;
    padding: 3rem;
    right: 5rem;
    top: 20vh;
}

.hero-new-arrival{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #333;
    font-weight: 600;
}

.hero-title{
    font-family: "Poppins", sans-serif;
    font-size: 3.25rem;
    color: #B88E2F;
}

.hero-para{
    font-size: 1.125;
    font-family: "Poppins", sans-serif;
    color: #4F4F4F;
}


.hero-link{
    display: inline-block;
    margin-top: 2rem;
    padding: 20px 50px;
    background-color: #B88E2F;
    color: #fff;
    border: 2px solid #B88E2F;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.hero-link:hover{
    background-color: transparent;
    color: #094B72;
}

.hero-img img{
    width: 70% ;
}

.company-logo{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 26px;
    margin-block: 26px;
    place-content: center;
}
.company-logo img{
    width: 150px;
}


.bd-g {
    color: green;
}

.bd-r {
    color: red;
}

/* Range Section */
.range-area{
    padding: 2rem;
    background: #fff;
}

.range{
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 2rem;
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.texts .title{    
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.texts .subtitle{
    color: #666;    
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.dining, .living, .bedroom{    
    width: 380px;
    height: 480px;
    text-align: center;
    font-size: .75rem;
    font-family: "Poppins", sans-serif;
}

.options .caption{
    margin: 1rem 0;
    font-weight: 400;
}

.dining .image{
    width: 100%;
    height: 100%;
    background: url('../images/image-106.png');
    background-position: start;
    border-radius: 1rem;
}

.living .image{
    width: 100%;
    height: 100%;
    background: url('../images/image-100.png');
    background-position: center;
    border-radius: 1rem;
}

.bedroom .image{
    width: 100%;
    height: 100%;
    background: url('../images/image-101.png');
    background-position: start;
    border-radius: 1rem;
}

/* Products Area */

.products-area{
    padding: 2rem;
    background: #fff;
}

.products-area .texts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-area .texts .title{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.products{
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
 .product{
    width: 285px;
    height: 466px;
    overflow: hidden;
}

.product .image{
    width: 285px;
    height: 301px;
    position: relative;
}

.badge{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.discount{
    background-color: #eb6565;
    color: #ffffff;
} 

.new{
    background-color: #2EC1AC;
    color: #ffffff;
} 

.products .details{
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    background-color: #f4f5f7;
}

.products .details h2{
    font-size: 1.5rem;
}

.products .details .description{
    font-size: 1rem;
    color: #898989;
}

.new-price{
    color: #3a3a3a;
    font-size: 1.25rem;
}

.old-price{
    font-size: 1rem;
    color: #b0b0b0;
    text-decoration: line-through;
}

.product:nth-child(1) .image{
    background: url('/images/products/image-1.png');
    background-size: cover;
    background-position: center;
}

.product:nth-child(2) .image{
    background: url('/images/products/image-2.png');
    background-size: cover;
    background-position: center;
}

.product:nth-child(3) .image{
    background: url('/images/products/image-3.png');
    background-size: cover;
    background-position: center;
}

.product:nth-child(4) .image{
    background: url('/images/products/image-4.png');
    background-size: cover;
    background-position: center;
}

.product:nth-child(5) .image{
    background: url('/images/products/image-5.png');
    background-size: cover;
    background-position: top;
}

.product:nth-child(6) .image{
    background: url('/images/products/image-6.png');
    background-size: cover;
    background-position: center;
}

.product:nth-child(7) .image{
    background: url('/images/products/image-7.png');
    background-size: cover;
    background-position: center;
}

.product:nth-child(8) .image{
    background: url('/images/products/image-8.png');
    background-size: cover;
    background-position: center;
}